a.filename {
	text-decoration: none;
	cursor: pointer;
}

a.filename:hover {
	text-decoration: underline;
}

.logo-img {
	width: 1.1em;
	position: relative;
	top: -1px;
}

.card-header {
	font-size: 20px;
	line-height: 2.5em;
}

.input-card {
	margin-top: 7.0em;
}

input.form-control,
.form-group button {
	height: 3em !important;
}

.card-text {
	word-wrap: break-word;
}

.alert {
	margin-top: 5em;
}

.alert-heading {
	height: 0.8em;
}

.anchor {
	vertical-align: top;
}

.anchor+h4 {
	display: inline-block;
	margin-left: 0.4rem;
}

.point {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 500px;
	margin: 0 5px;
	/*调整圆点的位置*/
	background-color: #ddd;
	vertical-align: baseline;
}

.point-lg {
	width: 12px;
	height: 12px;
}

.point-success {
	background-color: #28a745;
}

.point-danger {
	background-color: #dc3545;
}

.qrcode {
	position: absolute;
	transform: translate(2rem, -50%);
	display: none;
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

@media screen and (min-width: 768px) {

	[data-qrcode-attr]:hover+.qrcode,
	[data-qrcode-text]:hover+.qrcode {
		display: inline;
		opacity: 1;
	}
}

.qrcode img {
	width: 150px;
	height: 150px;
}

.container.main {
	margin-bottom: 5em;
}

nav.breadcrumb {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	border-radius: .25rem;
}

[data-bs-theme="dark"] nav.breadcrumb {
	background-color: #30363c;
}

[data-bs-theme="light"] nav.breadcrumb {
	background-color: #e9ecef;
}

.form-group.row {
	margin-block: 10px;
}

.card {
	margin-top: 3rem;
}

#Browser-ColorMode,
#Browser-Language {
	margin-right: 2rem;

}

.SaveTime {
	margin-right: 0.8rem;
}

select {
	margin-top: 0.5rem;
}

body {
    background: url(https://api.echs.top) no-repeat;
    background-size: cover;
    background-attachment:fixed;
    cursor:url('https://pic.imgdb.cn/item/65f172079f345e8d0314a6fa.png'), auto;
}

select, input, textarea, a, button {
    cursor:url('https://pic.imgdb.cn/item/65f172079f345e8d0314a796.png'), auto;
}

.bt {
      background-color: rgb(0, 0, 0,0.7)!important;
      backdrop-filter: blur(6px)!important;
}

.card{
      background-color: rgb(255, 255, 255,0.3)!important;
      backdrop-filter: blur(6px)!important;
}

.form-control {
      background-color: rgb(255, 255, 255,0.1)!important;
      backdrop-filter: blur(6px)!important;
}

.breadcrumb {
      visibility: hidden!important;
}

.list-group-item  {
      background-color: rgb(255, 255, 255,0.5)!important;
      backdrop-filter: blur(6px)!important;
}

.page  {
      background-color: rgb(255, 255, 255,0)!important;
}

.modal-content {
      background-color: rgb(255, 255, 255,0.6)!important;
      backdrop-filter: blur(6px)!important;
}

.swal2-popup {
      background-color: rgb(255, 255, 255,0.6)!important;
      backdrop-filter: blur(6px)!important;
}

.mx-2 {display:none!important;}

.breadcrumb-item{display:none!important;}

.btn-primary {
      opacity: 0.6;
}

.swal2-success-circular-line-right {display:none!important;}

.swal2-success-circular-line-left {display:none!important;}

.swal2-success-fix {display:none!important;}
